
body
{

}

.navbar
{
	background-color: #00BFFF;
}

.nav-link
{
	color: white;
	font-weight: bold;
}

.active
{
	text-decoration: underline;
}

.navbar-toggler-icon {
	background-color: #00BFFF;
}

.input[type=search]
{	
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.btn-outline-primary
{
	color: white;
	background-color: white;
}

.dropdown-menu
{
	background-color: #00BFFF;
}

.dropdown-item
{
	color: white;
	font-weight: bold;
}

.card
{
	background-color:  #182334;
	color: white;
	text-align: center;
}

label, .card-header
{
	font-weight: bold;
}

section, .card
{
	padding: 30px;
}


@media only screen and (max-width: 600px) 
{
  .card {
    margin-top: 13px;
  }

  section
  {
  	margin-top: 8px;
  }

  input[type=search]
  {
  	width: 100px;

  }

   .search_control
  {
  	width: 100px;
  }


}/* Max width close here */

.navbar_search_space
{
	margin-right: 10px;
}

.form-control-file
{
	border: 15px solid white;
}

.form-control:focus
{
	color: black;
	background-color: white;
}

.form-control
{
	color: white;
	background-color: #2F4F4F;
}



.btn-link
{
	color: white;
}

.selected
{
	background-color: black;
	color: white;
}