
body
{

}

.navbar, footer
{
	background-color: #006400;
}

.nav-link
{
	color: white;
	font-weight: bold;
}

.navbar-toggler-icon {
	background-color: #00BFFF;
}

.input[type=search]
{	
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.btn-outline-primary
{
	color: white;
	background-color: white;
}

.btn-success
{
	background-color:  #006400;
}

.btn-success:hover, 
{
	background-color: #6B8E23;
}

.badge-success
{
	background-color: #6B8E23;
}

.dropdown-menu
{
	background-color: #6B8E23;
}

.dropdown-item
{
	color: white;
	font-weight: bold;
}

.card
{
	background-color:  white;
	color: black;
	text-align: center;
	margin-top: 8px;
}

label, .card-header
{
	font-weight: bold;
}

section, .card, footer
{
	padding: 30px;
}


@media only screen and (max-width: 600px) 
{
  .card {
    margin-top: 13px;
  }

  section
  {
  	margin-top: 8px;
  }

  input[type=search]
  {
  	width: 100px;

  }

   .search_control
  {
  	width: 100px;
  }

  .card-img-top
  {
  	height: 25%;
  }


}/* Max width close here */

.navbar_search_space
{
	margin-right: 10px;
}

.form-control-file
{
	border: 15px solid white;
}

.form-control:focus
{
	color: white;
	background-color: black;
}

.form-control, .form-control-sm
{
	color: white;
	background-color: #2F4F4F;
}



.btn-link
{
	color: white;
}

option
{
	background-color:  #00BFFF;
	color: white;
	font-weight: bold;
}

.selected
{
	background-color:  black;
	color: white;
	font-weight: bold;
}

footer a, h6
{
	color: white;
}

footer
{
	margin-top: 10px;
}

.col, .row
{
	margin: 5px;
}